extends layout.pug
block content
  div.row
    div.col-md-6
      table.table.table-light.table-striped
        thead.thead-dark
          tr
            th Id
            th NAME
            th city
        tbody
          tr
            td 1
            td sandesh
            td pachora
